@font-face {
    /* Fuente */
    font-family: 'Subjectivity-Regular';
    /* Ruta del archivo fuente */
    src: url('../Fonts/Subjectivity-Regular.otf') format('truetype');
}

body {
    font-family: 'Subjectivity-Regular';
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Subjectivity-Regular';
}

/* Maquetado */
.parent {
    background-image: url('../images/Login.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    justify-content: center;
    align-items: center;
    filter: brightness(0.7);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
  
.div1 { 
    grid-area: 2 / 2 / 3 / 3; 
}

.div2 { grid-area: 1 / 1 / 2 / 2; 
}

.div2 p{
    color: white;
    margin-top: -15%;
    margin-left: 10px;
}

/* Estilos de card */
.card{
    margin-left: 75.5px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.081);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    backdrop-filter: blur(10px);
}

.titulosylogo{
    font-size: 10px;
    font-weight: inherit;
    color: white;
}

.titulosylogo img{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Estilos para el botón "Iniciar sesión" */
input[type="submit"] {
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border: none;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover {
    background-color: #ffffff26;
    color: #ffffff;
}

/* Estilos de colores a etiquetas (Regístrate) */

.Datos p, a {
    font-size: 13px;
    text-decoration: none;
    color: white;
    margin-bottom: 30px;
}

a:hover {
    color: rgb(240, 197, 67);
}


/* Estilos para los campos de entrada y sus etiquetas */
label {
    display: block;
    color: white;
    font-size: 15px;
    margin-left: 5%;
    text-align: justify;
    margin-bottom: -10px;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    outline: none;
    color: white;
}





