/* Estilos para la fuente personalizada */
@font-face {
    font-family: 'Subjectivity-Regular';
    src: url('../Fonts/Subjectivity-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'SubjectivitySerif-Light-Italic';
    src: url('../Fonts/Subjectivity-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'SubjectivitySerif-Thin-Italic';
    src: url('../Fonts/SubjectivitySerif-Thin-Italic.otf') format('truetype');;
}

/* Estilos y diseño de Scroll */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 12%;
}

*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #252836;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #1F1D2B;
}

body {
    font-family: 'Subjectivity-Regular';
    margin: 0;
    padding: 0;
}

/* Principal */

.principal {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

/* - - - - - - - - - -*/

/* sidebar iquierdo */

.sidebar1{
    width: 100%;
    height: 100vh;
    background-color: #252836;
}

/* - - - - - - - - */

/* Estilos sibdebar izquierdo */

/* Configuraciones del logo */
.logo {
    padding: 10px;
    text-align: center;
}

.logo img {
    max-width: 50px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 1px;
}

/* Configuraciones del menú del sidebar */
.sidebar-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centra verticalmente los íconos */
    align-items: center;
    margin-top: -1px;
    list-style: none;
    padding: 0;
}

.sidebar-menu a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-weight: lighter;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
    padding: 10px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
}

.sidebar-menu a i {
    margin-right: 30px;
    transition: transform 0.2s, color 0.3s;
}

.sidebar-menu a:hover {
    background-color: #A9957D;
    transform: translateY(-2px);
}

.sidebar-menu a:hover i {
    color: #A9957D;
}

/* Estilos del footer del sidebar */
.sidebar-footer {
    margin-left: 45px;
    position: absolute;
    bottom: 45px;
    left: 20px;
}

.sidebar-footer a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: lighter;
}

.sidebar-footer a i {
    margin-right: 20px;
    margin-left: 15px;
}

/* - - - - - - - - - - - - - -*/

/* menu */

.menu{
    width: 100%;
    height: 100vh;
    background-color: #1F1D2B;
}

/* - - - - - - - - */

/* Estilos navbar */
#navbar {
    margin-top: -8px;
    color: #fff;
    padding: 20px;

}

#saludo {
    color: white;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 1%;
}

#texto {
    margin-top: 1.5%;
    font-size: 10px;
    margin-left: 1%;
}

/* buscador */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 300px;
    margin-left: 30%;
    margin-top: -9%;
}

.group{
    transition: transform 0.5s ease;
}

.group:hover{
    transform: translateY(-2px);
}

.group:not(:hover){
    transform: translateY(0);
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #2D303E;
    color: #13220c;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgb(20, 136, 186);
    background-color: #ffffff;
    box-shadow: 0 0 0 4px rgb(20, 136, 186 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

/* - - - - - - - -*/

/* Contenido redirigibles clases de café */

/* Tipos de café */

.container{
    margin-left: -10%;
}
.container img {
    margin-top: 50px;
    border-radius: 50%;
    background-color: #252836;
    margin-left: 11%;
    margin-right: -9%;
}

#texto-t {
    margin-top: 2px;
    font-size: 12px;
    margin-left: 3.7%;
    color: white;
}

#texto-c {
    margin-top: -22px;
    font-size: 11px;
    margin-left: 10.5%;
    color: white;
}

#texto-r {
    margin-top: -22px;
    font-size: 11px;
    margin-left: 20%;
    color: white;
}

/* - - - - - - - - - - - - - - - - - - - */

/* sidebar iquierdo (carrito) */

.carrito{
    width: 100%;
    height: 100vh;
    background-color: #252836;
}

/* - - - - - - - - - - - - - - - - - - - */

/* Estilos sidebar izquierdo (carrito) */

/* Estilos del sidebar 2 */

.sidebar2 p {
    color: white;
    margin-top: 20px;
    font-size: 24px;
    margin-left: 10px
}

#fecha {
    margin-top: -15px;
    color: #828283;
    font-size: 13px;
}

/* - - - - - - - - - - - - - - - - - - */



