/* Estilos para la fuente personalizada */
@font-face {
    font-family: 'Subjectivity-Regular';
    src: url('../Fonts/Subjectivity-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'SubjectivitySerif-Light-Italic';
    src: url('../Fonts/Subjectivity-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'SubjectivitySerif-Thin-Italic';
    src: url('../Fonts/SubjectivitySerif-Thin-Italic.otf') format('truetype');
    ;
}

/* Estilos y diseño de Scroll */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 12%;
}

*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: transparent;
}

body {
    font-family: 'SubjectivitySerif-Light-Italic';
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Principal */
.app {
    display: grid;
    grid-template-columns: 10% 60% 30%;
    grid-template-rows: 1fr;
}

/* - - - - - - - - - -*/

/* Estilos - saludo JS */

.salu2 {
    margin-right: 40%;
}

#saludo {
    font-weight: lighter;
}

/* Estilos de Botón de Búsqueda */
.btn-busqueda {
    margin-right: 0px;
}

.busqueda {
    font-weight: lighter;
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 250px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #2D303E;
    color: #000000;
    transition: .3s ease;
}

.input::placeholder {
    color: #747377;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(81, 76, 234, 0.4);
    background-color: #ffffff;
    box-shadow: 0 0 0 4px rgba(100, 76, 234, 0.1);
}

.icono-busqueda {
    position: absolute;
    left: 1rem;
    fill: #747377;
    width: 1rem;
    height: 1rem;
}

.busqueda {
    transition: transform 0.5s ease;
}

.busqueda:hover {
    transform: translateY(-2px);
}

.busqueda:not(:hover) {
    transform: translateY(0);
}


/* Maquetado Principal */
.sidebar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #252836;
    z-index: 999;
}

/* Estilos del .menu */
.menu {
    width: 100%;
    background-color: #1F1D2B;
    position: relative;
    overflow-y: auto;
    height: 100vh;
}

.carrito {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #252836;
    z-index: 999;
}

/* Estilos de texto Orden y hora y fecha */
.descripcion {
    margin-left: 15px;
}

#fecha {
    font-size: 15px;
    margin-top: -15px;
    color: #828283;
}

.descripcion .orden {
    font-size: 24px;
    color: white;
}

/* estilos sidebar */
.sidebar .logo {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .logo img {
    width: 50px;
}

.sidebar .opciones {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar .opciones ul {
    list-style-type: none;
    padding: 0;
}

.sidebar .opciones li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.sidebar .opciones li a {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.sidebar .opciones li a:hover {
    background-color: #A9957D;
}

.sidebar .opciones li a.activo {
    background-color: #A9957D;
    color: #fff;
    /* Cambiar el color del texto cuando está activo */
}

/* Animaciones de iconos */
.icon {
    transition: transform 0.3s ease
}

.icon:hover {
    transform: translateY(-2px);
}

.icon:not(:hover) {
    transform: translateY(0);
}

/* estilos Menu */
.menu .barra_nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.menu .productos {
    width: auto;
    height: auto;
}

.menu .productos .categoria {
    width: auto;
    height: 120px;
    display: flex;
    align-items: center;
}

.menu .productos .categoria .card {
    width: 60px;
    height: 60px;
    background-color: #2D303E;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 60px;
}

/* Estilos imagenes - categorías */
.menu .productos .categoria .card img {
    border-radius: 60px;
}

/* Estilos descripción - categorías (p) */
.menu .productos .categoria .card p {
    margin-top: 2px;
    text-align: center;
    font-size: 12px;
    color: white;
}

/* Animaciones - categorías (img) */
.menu .productos .categoria .card img {
    transition: transform 0.5s ease
}

.menu .productos .categoria .card img:hover {
    transform: translateY(-2px);
}

.menu .productos .categoria .card img:not(:hover) {
    transform: translateY(0);
}

/* Estilos Menu */
.lista-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #1F1D2B;
}

.texto {
    margin-left: 30px;
    color: rgb(255, 255, 255);
}

/* Estilos para cada producto */
.inner-card {
    width: calc(25.5% - -30px);
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: #2D303E;
    padding: 10px;
    border: 1px solid #2D303E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    margin-top: -5px;
}

/*Animaciones card */
.inner-card {
    transition: transform 0.3s ease;
}

.inner-card:hover {
    transform: translateY(-5px);
}

.inner-card:not(:hover) {
    transform: translateY(0);
}

/* Estilos para la imagen del producto */
.product-image {
    background-color: #1F1D2B;
    border-radius: 6px;
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos para la descripción del producto */
.product-description {
    font-size: 20px;
    margin-top: 20px;
    font-weight: lighter;
}

.product-description2 {
    color: #C4C4C4;
    font-size: 12px;
    margin-top: 10px;
    /*text-align: justify;*/
    font-weight: lighter;
}

/* Estilos para el precio del producto */
.product-price {
    font-weight: lighter;
    font-size: 18px;
    margin-top: 10px;
    color: #EDD4B5;
}

/* Estilos para el botón "Comprar" */
.button {
    display: block;
    width: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #2C4844;
    border: none;
    cursor: pointer;
    margin-top: -40px;
    margin-left: 80%;
    transition: background-color 0.3s ease;
    background-image: url('../svg/shopping-cart.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    margin-bottom: 15px;
}

.button:hover {
    background-color: rgba(55, 107, 59, 0.124);
}

/* Imagen error 404 */
.product-image404 {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: -100px;
}

.text-error {
    margin-left: 27%;
    margin-top: -75px;
    color: white;
}

/* Estilos de Nombre de usuario */
.user {
    align-items: center;
    font-size: 15px;
    color: white;
    margin-top: 230%;
}

/* Estilos boton login */
.login a {
    border: 2px solid #ffffff8a;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    transition: border-color 0.3s ease;
}

.login a:hover {
    border-color: #29B864;
}

/* Estilos nombre de usuario */
.nombre-usuario {
    display: flex;
    margin-top: -10px;
    padding-bottom: 7px;
    align-items: center;
    font-size: 15px;
    color: white;
}

.menu-desplegable a::before {
    content: url('../svg/arrow-right-on-rectangle.svg');
    display: inline-block;
    margin-left: 45px;
}


/* Estilos de carrito (Cards de compra) */
.card-producto {
    white-space: nowrap;
    margin-left: 20px;
    width: 390px;
    height: 80px;
    background-color: #2D303E;
    padding: 10px;
    border-radius: 10px;
}

.frame-producto {
    width: 100px;
    height: 80px;
    border-radius: 10px;
    background-color: #1F1D2B;
    margin-right: 10px;
}

.imagen-producto {
    margin-left: 10px;
    max-width: 80%;
}

.nombre-producto {
    margin-top: -68px;
    margin-left: 110px;
    color: white;
    font-size: 14px;
    font-weight: initial;
}

.descripcion-producto {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    margin-top: -5px;
    margin-left: 110px;
    font-size: 10px;
    color: #828283;
}

.precio-producto {
    margin-left: 110px;
    font-size: 16px;
    color: #EDD4B5;
}

.container-carrito {
    margin-top: 10px;
}

/* Estilos de botones mejorados - Diseño atractivo */
.btn-restar {
    margin-left: 190px;
    margin-right: 54px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 0 5px;
    font-weight: inherit;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn-sumar {
    background-color: #2EC76D;
    color: #fff;
    border: 1px solid #2EC76D;
    border-radius: 5px;
    padding: 0 5px;
    font-weight: inherit;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/* Contenedor fijo */
.carrito-productos-agregados {
    max-height: 339px;
    overflow-y: auto;
}

/* Scroll cards */
.carrito-productos-agregados::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.carrito-productos-agregados::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #252836;
}

.carrito-productos-agregados::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #2EC76D;
}

/* Estilos de compra (card de compra)*/
.card-compra {
    position: fixed;
    top: 60%;
    left: 70%;
    white-space: nowrap;
    margin-left: 20px;
    width: 400px;
    height: 90px;
    background-color: #2D303E;
    padding: 10px;
}

.card-compra p {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 1px;
    font-size: 13px;
    color: #828283;
}

.total-compra-, #total-compra {
    display: inline-block;
    font-size: 14px;
    color: white;
    margin-right: 55%;
}

.total-subtotal-, #total-subtotal {
    display: inline-block;
    font-size: 14px;
    color: white;
    margin-right: 49%;
}

.total-iva {
    padding-top: 4px;
    margin-right: 54px;
    display: flex;
    justify-content: space-between;
  }
  
  .total-iva::before {
    content: "IVA 8%";
  }
  
#hr {
    border: none;
    border-top: 1px solid #747377;
    margin: 13px 13px;
}

.boton-minimalista {
    font-family: 'Subjectivity-Regular';
    margin-left: -9px;
    margin-top: 35px;
    background-color: #2EC76D;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 124px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.boton-minimalista svg {
    margin-left: 5px;
    fill: currentColor;
}

.boton-minimalista:hover {
    background-color: #29b864;
}

/* Estilos imagen carrito */
.productos-container{
    margin-top: 110px;
}

.productos-container p{
    text-align: center;
    margin-top: -50px;
    font-size: 14px;
    color: #828283;
}

/* Estilos de boton y contador */
.cantidad-producto{
    padding-top: 4px;
    margin-left: -55px;
    color: white;
}

.producto-cont{
    margin-left: 30px;
    margin-top: -30px;
    gap: 15px;
    display: flex;
    align-items: center;
}

.btn-eliminar {
    background: none;
    border: none;
    color: #999;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
    margin: 0;
    outline: none;
    transition: color 0.3s;
  }
  
  .btn-eliminar:hover {
    color: #2EC76D;
  }

/* Esilos de texto en card */
  .text-check{
    text-align: center;
    color: #999;
    font-size: 15px;
  }
